{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body id="body">
<form  action="logedin" method="POST">
    {% csrf_token %}
    <div align="center" id="register_div">
        <div>
            <label>user name</label>
            <input type="text" name="user" style="border-radius: 20px;border-color: white;background-color: rgb(5,5,20);color:white;padding:10px;margin:20px;">
        </div>
        <div>
            <label>password</label>
            <input type="text" name="password" style="border-radius: 20px;border-color: white;background-color: rgb(5,5,20);color:white;padding:10px;margin:20px;">
        </div>
        <div>
            <input type="submit" name="submit" style="border-radius: 20px;border-color: white;background-color: rgb(5,5,20);color:white;padding:10px;margin:20px;">
        </div>
    </div>

</form>
</body>
</html>